* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: black;
}
body, html {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
::-webkit-scrollbar { 
    display: none; 
}



.hintergrund {
    position: fixed;
    left: 0px;
    right: 0px;
    overflow: hidden;
    background-color: antiquewhite;
    background-image: url(../images/level1.gif);
    background-size: cover;
    display: inherit;
}

#klotz {
    position: absolute;
    left: 100%;
    bottom: 0;
    transition-duration: 3s;
    transition-timing-function: linear;
    background-image: url(../images/piece.png);
    background-size: cover;
}

#bild1 {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 200px;
    height: 200px;
    background-image: url(../images/beach_ball.png);
    background-size: cover;
}

#bild2 {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 200px;
    height: 200px;
    background-image: url(../images/banger_ball.bmp);
    background-size: cover;
}

